* {
  margin: 0;
  padding: 0; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(96, 107, 203);
}

h1 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  color: white;
  letter-spacing: 2px;
}

.mainDiv {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.container {
  width: 35%;
  border: 7px solid white;
  background-color: rgb(227, 162, 162);
  padding: 30px 50px;
}

.addBtn {
  float: right;
  background-color: #ff5757;
  color: white;
  padding: 5px;
}
